<div class="row">
  <div class="large-12 columns">
    <h1>1:1 Schedule</h1>

    <div class="row">
      <% @weeks.each do |week| %>
        <div class="week large-4 columns">
          <h2><%= "Week #{week}" %></h2>

          <table cellspacing="0" cellpadding="0">
            <thead>
              <tr>
                <th>Day</th>
                <th>Student</th>
                <th>Instructor</th>
              </tr>
            </thead>
            <tbody>
              <% @days.each do |day| %>
                <% @meetings.each do |meeting| %> 
                  <% if meeting.day == day && meeting.week == week %>
                  <tr class="<%= day.even? ? 'even_day' : 'odd_day' %> <%= 'this_student' if params[:student].to_s.downcase == meeting.student_name.downcase %>">
                    <td class="day"><%= meeting.day_name %></td>
                    <td class="student"><%= meeting.student_name %></td>
                    <td class="instructor"><%= meeting.instructor_name %></td>
                  </tr>
                <% end %>
              <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>

  </div>
</div>
